services:
  db:
    image: postgres:17.4
    container_name: pg_container
    restart: always
    environment:
      POSTGRES_USER: ${DATASOURCE_USERNAME}
      POSTGRES_PASSWORD: ${DATASOURCE_PASSWORD}
      POSTGRES_DB: task_tracker_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${DATASOURCE_USERNAME} -d task_tracker_db" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-volumes:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  pgAdmin:
    image: dpage/pgadmin4:9.4.0
    container_name: pg_adm_container
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${DATASOURCE_USERNAME}@some.email
      PGADMIN_DEFAULT_PASSWORD: ${DATASOURCE_PASSWORD}
    ports:
      - "8888:80"
    depends_on:
      db:
        condition: service_healthy

#  task-tracker-app:
#    image: andrejskrilovs/task-tracker-app:4.0
#    container_name: task-tracker-app
#    depends_on:
#      db:
#        condition: service_healthy
#    environment:
#      QUARKUS_DATASOURCE_URL: jdbc:postgresql://db:5432/task_tracker_db
#      QUARKUS_DATASOURCE_USERNAME: ${DATASOURCE_USERNAME}
#      QUARKUS_DATASOURCE_PASSWORD: ${DATASOURCE_PASSWORD}
#      QUARKUS_HTTP_PORT: 8080
#    ports:
#      - "8080:8080"

volumes:
  db-volumes: